{% extends 'base.html' %}

{% block container %}
    <h1>Car Profile</h1>
    <hr>
    <ul>
        <li>
            Car Brand : {{ object.car_brand }}
        </li>
        <li>
            Car Model :  {{ object.car_model }}
        </li>
        <li>
            Car Color : {{ object.car_color }}
        </li>
        <li>
            Number of doors : {{ object.number_of_doors }}
        </li>
        <li>
            Number of seats : {{ object.number_of_seats }}
        </li>
    </ul>


{% endblock container %}