h1 {
    text-align: center;
    margin: 0;
}

.search-box {
    width: 40%;
    height: 200px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

nav {
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    max-height: 4em;
    display: flex;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    display: block;
    line-height: 4em;
    padding-right: 1em;
    text-decoration: none;
}

nav ul li:first-child {
    margin-right: auto;
    padding-left: 10px;
}
