
body {
    font-family: 'Poppins', sans-serif;
    background: url("/static/images/car-forest.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    text-align: center;
    margin: 0;
}

.search-box {
    width: 40%;
    height: 200px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

nav {
    margin: 0;
    padding-bottom: 20px;
    overflow: hidden;
    font-size: 16px;
}

nav ul {
    margin: 0;
    padding: 0;
    max-height: 4em;
    display: flex;
}
nav ul li {
    display: inline-block;
    list-style-type: none;

}

nav ul li a {
    display: block;
    line-height: 4em;
    text-decoration: none;
    border: 2px solid;
    border-radius: 30px;
    background-color: #f7f7f7db;
    padding-left: 15px;
    padding-right: 15px;
}

nav ul li:first-child {
    margin-right: auto;
    padding-left: 10px;
}

nav ul li:nth-child(2) {
    margin-right: 10px;
}

nav ul li:nth-child(3) {
    margin-right: 10px;
}

.password-change-form ul {
    text-decoration: none;
    list-style-type: none;
}

.password-change-form {
    text-align: center;
}

.helptext {
    visibility: hidden;
}

.title {
    font-size: 64px;
    text-align: center;
    border: 5px solid;
    border-radius: 10px;
    background-color: #f7f7f7db;
    margin-left: 33%;
    margin-right: 33%;
}

div .search-box{
    border: 5px solid;
    background-color: #f7f7f7db;
    display: flex;
    border-radius: 10px;
}

.search-form {
    margin: auto;
}

.search-form input {
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 10px;
    font-size: 32px;
    margin-top: 10px;
    background-color: #ffffffdb;
}

.search-form select {
    width: 100%;
    border: 2px solid;
    border-radius: 10px;
    font-size: 32px;
    margin-top: 10px;
    background-color: #ffffffdb;
}

.search-form select:hover {
    cursor: pointer;
}

#car-search-button {
    width: 100px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 10px;
}

#car-search-button:hover {
    background: #79aec8;
    cursor: pointer;
}

.car-search-results {
    background: #f7f7f7db;
    max-width: 33%;
}

.car-profile {
    background: #f7f7f7db;
    max-width: 33%;
}

.login {
    background-color: #f7f7f7db;
    margin: auto;
    max-width: 400px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: #1b1b1b;
}

.login-form {
    padding: 15px;
    font-size: 22px;
}

.login-form input {
    font-size: 22px;
    border: 2px solid;
    border-radius: 10px;
}

.login-form button {
    font-size: 16px;
    padding: 6px;


}

.login h1 {
    font-size: 64px;

}

.login p {
    text-align: center;
}

.my-profile {
    background-color: #f7f7f7db;
}