html {
    background: linear-gradient(to bottom right, red, blue) fixed;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    margin: 0;
}

nav {
    margin: 0;
    padding-bottom: 20px;
    overflow: hidden;
    font-size: 16px;
}

nav ul {
    margin: 0;
    padding: 0;
    max-height: 4em;
    display: flex;
}
nav ul li {
    display: inline-block;
    list-style-type: none;

}

nav ul li a {
    display: block;
    line-height: 4em;
    text-decoration: none;
    border: 2px solid;
    border-radius: 30px;
    background-color: #f7f7f7db;
    padding-left: 15px;
    padding-right: 15px;
}

nav ul li:first-child {
    margin-right: auto;
    padding-left: 10px;
}

nav ul li:nth-child(2) {
    margin-right: 10px;
}

nav ul li:nth-child(3) {
    margin-right: 10px;
}

.helptext {
    visibility: hidden;
}

.search-box {
    background-color: #f7f7f7db;
    width: 33%;
    margin: auto;
    border: 3px solid;
    border-radius: 10px;
}

.search-box h1 {
    font-size: 60px;
}

.search-box-items {
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.search-box-items input {
    max-width: 400px;
}

.search-box-items select {
    max-width: 500px;
}

.search-box-items-button {
    margin-bottom: 20px;
    margin-top: 5px;
}


.search-form {
    margin: auto;
}

.search-form input {
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 10px;
    font-size: 32px;
    margin-top: 10px;
    background-color: #ffffffdb;
}

.search-form select {
    width: 100%;
    border: 2px solid;
    border-radius: 10px;
    font-size: 32px;
    margin-top: 10px;
    background-color: #ffffffdb;
}

.search-form select:hover {
    cursor: pointer;
}

#car-search-button {
    width: 100px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 20px;
}

#car-search-button:hover {
    background: #79aec8;
    cursor: pointer;
}

.car-search-results {
    background: #f7f7f7db;
    max-width: 33%;
    border: 3px solid;
    border-radius: 10px;
    margin: auto;
}

.car-search-results h1 {
    font-size: 36px;
}

.car-search-items li {
    font-size: 24px;
    text-decoration: none;
}

.car-profile {
    background: #f7f7f7db;
    border: 3px solid;
    border-radius: 10px;
    max-width: 33%;
    margin: auto;
}

.car-profile-info {
    font-size: 24px;
    text-decoration: none;
}

.car-profile-info button {
    font-size: 26px;
    margin: 10px;
}

.login {
    background-color: #f7f7f7db;
    margin: auto;
    max-width: 400px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: #1b1b1b;
}

.login-form {
    padding: 15px;
    font-size: 22px;
}

.login-form input {
    font-size: 22px;
    border: 2px solid;
    border-radius: 10px;
}

.login-form button {
    font-size: 16px;
    padding: 6px;
}

.login h1 {
    font-size: 64px;

}

.login p {
    text-align: center;
}

.my-profile {
    background-color: #f7f7f7db;
    max-width: 33%;
    margin: auto;
    border: 3px solid;
    border-radius: 10px;
}

.my-profile-items {
    font-size: 20px;
    margin-left: 10px;
}

.signup-header {
    background: #f7f7f7db;
    margin: auto;
    max-width: 400px;
    border: 3px solid;
    border-radius: 10px;
}

.signup-header h1 {
    font-size: 64px;
}

.signup-form {
    text-align: center;
}

.password-change {
    background-color: #f7f7f7db;
    max-width: 33%;
    margin: auto;
    border: 3px solid;
    border-radius: 10px;
}

.password-change h1 {
    font-size: 36px;
}

.password-change-form {
    margin-left: 10px;
    font-size: 20px;
}

.password-change-form ul {
    text-decoration: none;
    list-style-type: none;
}

.password-change-form button {
    font-size: 20px;
    margin-bottom: 10px;
}

.add-car {
    background-color: #f7f7f7db;
    max-width: 33%;
    border: 3px solid;
    border-radius: 10px;
    margin: auto;
}

.add-car-form {
    font-size: 20px;
    margin-left: 10px;
}

.add-car-form button {
    margin-bottom: 10px;
    font-size: 18px;
}

.password-change-success {
    background-color: #f7f7f7db;
    max-width: 33%;
    border: 3px solid;
    border-radius: 10px;
    margin: auto;
}

.background-shown {
    background-color: #f7f7f7db;
    max-width: 33%;
    margin: auto;
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
}

.my_cars {
    background-color: #f7f7f7db;
    max-width: 33%;
    margin: auto;
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
}

.rent-confirmation {
    background-color: #f7f7f7db;
    max-width: 33%;
    margin: auto;
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
}

.rent-confirmation a {
    margin: auto;
    font-size: 20px
}


